
@{
    ViewBag.Title = "select";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksiegarnia bezpieczna</title>
</head>
<body onload="func()">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ksiegarnia bezpieczna</a>
            </div>
        </div>
    </nav>
    <h2>Wyświetlanie książek</h2>

    <div id="lista_ksiazek"></div>
    <br />


    <script type="text/javascript">

        function func() {
            var ksiazki = new Array();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Get", "Ksiazki")',
                data: "a",
                success: function (data) {
                    for (i = 0; i < data.length; i++) {
                        ksiazki[i] = data[i];
                    }
                    var lista = "<li>ID - Tytul</li>";
                    for (i = 0; i < ksiazki.length ; i++) {
                        lista += "<li>";
                        lista += ksiazki[i].ID_Ksiazki.toString() + " - " + ksiazki[i].Tytul + "</li>";
                    }
                    document.getElementById("lista_ksiazek").innerHTML = lista;
                    return;
                },
            });
        }


    </script>
</body>
</html>


