
@{
    ViewBag.Title = "del";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksiegarnia bezpieczna</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ksiegarnia bezpieczna</a>
            </div>
        </div>
    </nav>
    <h2>Usuwanie użytkownika</h2>
    <button type="button" onclick="func()">Wyświetl listę użytkowników</button>
    <div id="lista_uzytkownikow"></div>
    <br />
    <p>Podaj ID użytkownika, którego chcesz usunąć:</p>
    <input type="text" id="identyfikator" />
    <button type="button" onclick="usun()">Usuń</button>

    <script type="text/javascript">

        function func() {
            var uzytkownicy = new Array();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Get", "Uzytkownicy")',
                data: "a",
                success: function (data) {
                    for (i = 0; i < data.length; i++) {
                        uzytkownicy[i] = data[i];
                    }
                    var lista = "<li>ID - Login - Nazwa</li>";
                    for (i = 0; i < uzytkownicy.length ; i++) {
                        lista += "<li>";
                        lista += uzytkownicy[i].ID_Uzytkownika.toString() + " - " + uzytkownicy[i].Login + " - " + uzytkownicy[i].Nazwa + "</li>";
                    }
                    document.getElementById("lista_uzytkownikow").innerHTML = lista;
                    return;
                },
            });
        }

        function usun() {
            var id = document.getElementById("identyfikator").value;

            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "Uzytkownicy")',
                data: { id },
                success: function (data) {
                    location.href = '@Url.Action("del", "Uzytkownicy")';
                    return;
                },
            });
        }
    </script>
</body>
</html>