
@{
    ViewBag.Title = "update";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksiegarnia bezpieczna</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ksiegarnia bezpieczna</a>
            </div>
        </div>
    </nav>
    <h2>Aktualizacja użytkownika</h2>
    <button type="button" onclick="func()">Wyświetl listę użytkowników</button>
    <div id="lista_uzytkownikow"></div>
    <br />
    <p>Podaj ID użytkownika, którego chcesz zaktualizować:</p>
    <input type="text" id="identyfikator" />
    <button type="button" onclick="wybierz()">Wybierz</button>
    <div id="aktualizacja" style="display:none">
        Login: <input type="text" id="login" />
        Nazwa: <input type="text" id="nazwa" />
        Stare hasło: <input type="password" id="starehaslo" />
        Nowe hasło: <input type="password" id="nowehaslo" />

        <button type="button" onclick="zaktualizuj()">Zaktualizuj</button>

        <div id="komunikat" style="float:left"></div>
    </div>

    <script type="text/javascript">
            function wybierz() {
                document.getElementById("aktualizacja").style.display = "block";
            }
            function func() {
            var uzytkownicy = new Array();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Get", "Uzytkownicy")',
                data: "a",
                success: function (data) {
                    for (i = 0; i < data.length; i++) {
                        uzytkownicy[i] = data[i];
                    }
                    var lista = "<li>ID - Login - Nazwa</li>";
                    for (i = 0; i < uzytkownicy.length ; i++) {
                        lista += "<li>";
                        lista += uzytkownicy[i].ID_Uzytkownika.toString() + " - " + uzytkownicy[i].Login + " - " + uzytkownicy[i].Nazwa + "</li>";
                    }
                    document.getElementById("lista_uzytkownikow").innerHTML = lista;
                    return;
                },
            });
        }
            function zaktualizuj() {

                var id = document.getElementById("identyfikator").value;
                var login = document.getElementById("login").value;
                var nazwa = document.getElementById("nazwa").value;
                var stareHaslo = document.getElementById("starehaslo").value;
                var noweHaslo = document.getElementById("nowehaslo").value;

                debugger;
                var postData = { id, login, nazwa, stareHaslo, noweHaslo };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Put", "Uzytkownicy")',
                    data: postData,
                    success: function (data) {

                        if (data == "Podano niepoprawne hasło, zmiana nie powiodła się!") {
                            document.getElementById("komunikat").innerHTML = data;
                        }
                        else if (data == "Oba hasła muszą być podane aby dokonać zmiany!") {
                            document.getElementById("komunikat").innerHTML = data;
                        }
                        else {
                            location.href = '@Url.Action("update", "Uzytkownicy")';
                        }
                        return;
                    },
                });
            }


    </script>
</body>
</html>

