
@{
    ViewBag.Title = "select";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksiegarnia bezpieczna</title>
</head>
<body onload="func()">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ksiegarnia bezpieczna</a>
            </div>
        </div>
    </nav>
    <h2>Wyświetlanie autorów</h2>
    
    <div id="lista_autorow"></div>
    <br />
    

    <script type="text/javascript">

        function func() {
            var autorzy = new Array();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Get", "Autorzy")',
                data: "a",
                success: function (data) {
                    for (i = 0; i < data.length; i++) {
                        autorzy[i] = data[i];
                    }
                    var lista = "<li>ID - Imie - Nazwisko</li>";
                    for (i = 0; i < autorzy.length ; i++) {
                        lista += "<li>";
                        lista += autorzy[i].ID_Autora.toString() + " - " + autorzy[i].Imie + " - " + autorzy[i].Nazwisko + "</li>";
                    }
                    document.getElementById("lista_autorow").innerHTML = lista;
                    return;
                },
            });
        }

       
    </script>
</body>
</html>

