<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>>Ksiegarnia bezpieczna</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ksiegarnia bezpieczna</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Start", "Index", "Home")</li>
                <li>@Html.ActionLink("Zaloguj", "LogIn", "LogIn")</li>
            </ul>
        </div>
    </nav>
    <h1><a href="/">Ksiegarnia bezpieczna</a></h1><br />
    <div>Witaj na stronie Księgarni bezpiecznej. Aby się zalogować, naciśnij poniższy przycisk.</div><br />
    <div>
        <button type="button" class="btn btn-default btn-lg">@Html.ActionLink("Zaloguj", "LogIn", "LogIn")</button>
    </div>
</body>
</html>