@{
    ViewBag.Title = "Home Page";
}

<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">Ksiegarnia bezpieczna</a></h1>
        </li>
    </ul>
</nav>
<div>
    <p>Name: <input type="text" ng-model="firstName"></p>
    <p>You wrote: {{firstName}}</p>
    <button>@Html.ActionLink("Zaloguj", "LogIn", "LogInView")</button>
</div>