<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksiegarnia bezpieczna</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ksiegarnia bezpieczna</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Start", "Index", "Home")</li>
            </ul>
        </div>
    </nav>
    
        <div class="form-group" id="login">
            <label class="control-label col-sm-2">Login</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="text" placeholder="Login">
            </div>
        </div>
        <div class="form-group" id="haslo">
            <label class="control-label col-sm-2" for="pwd">Hasło:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" placeholder="Hasło">
            </div>
        </div>
        <div class="form-group" style="display:none; float:left;" id="wybor_roli">
            <label class="control-label col-sm-10" for="wybor_roli" >Rola:</label>
        </div>
        <form id="myform">
            <div id="komunikat" style="float:left; display:none"></div><div style="clear:both;"></div>
        </form>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" onclick="przetworzForm()">Zaloguj</button>
                </div>
            </div>
    
    <script type="text/javascript">
        function przetworzForm() {
            var login = document.getElementById("text").value;
            var haslo = document.getElementById("pwd").value;
            var rola = null;

            var tablica_rol = new Array();
            var kompletne_dane = new Array();

            var wartosc = $("#myform").find("input[type='radio']:checked").get();
            var zmienna = wartosc[0];
            if (zmienna != undefined)
            {
                zmienna = zmienna.id;
                rola = zmienna;
            }
            else {
                rola = null;
            }

            var postData = { login, haslo, rola };

            $.ajax({
                type: "POST",
                url: '@Url.Action("Post","LogIn")',
                data: postData,
                success: function (data) {
                    //logowanie bez roli
                    if (rola == null) {
                        if (data == "Niepoprawne dane!") {
                            document.getElementById("komunikat").style.display = "block";
                            document.getElementById("komunikat").innerHTML = data;
                            return;
                        }
                        for (i = 0; i < data.length; i++) {
                            tablica_rol[i] = data[i];
                        }
                        document.getElementById("komunikat").style.display = "block";
                        document.getElementById("wybor_roli").style.display = "block";
                        var stala = "<input name='takasamanazwa' type='radio' id='";
                        var radio = "";
                        for (j = 0; j < tablica_rol.length; j++) {
                            radio += stala;
                            radio += tablica_rol[j].ID_Roli;
                            radio += "'>";
                            radio += tablica_rol[j].Nazwa;
                            radio += "</input><br />";
                        }
                        var uzytkownicy = new Array();
                        var id = 0;
                        var czyWypisany = false;
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Get", "Uzytkownicy")',
                            data: "a",
                            success: function (data) {
                                for (i = 0; i < data.length; i++) {
                                    uzytkownicy[i] = data[i];
                                }
                                for (i = 0; i < uzytkownicy.length ; i++) {
                                    debugger;
                                    if (uzytkownicy[i].Login == login) {
                                        for (j = 0; j < uzytkownicy[i].Uzytkownik_Rola.length; j++) {
                                            czyWypisany = false;
                                            for (k = 0; k < tablica_rol.length; k++) {
                                                if (tablica_rol[k].ID_Roli == uzytkownicy[i].Uzytkownik_Rola[j].ID_Roli) {
                                                    czyWypisany = true;
                                                    break;
                                                }
                                            }
                                            if (!czyWypisany) {
                                                radio += stala;
                                                radio += uzytkownicy[i].Uzytkownik_Rola[j].ID_Roli;
                                                radio += "' disabled >";
                                                radio += uzytkownicy[i].Uzytkownik_Rola[j].Rola.Nazwa;
                                                radio += "</input><br />";
                                            }
                                        }
                                    }
                                }
                                document.getElementById("komunikat").innerHTML = radio;
                                document.getElementById("login").style.display = "none";
                                document.getElementById("haslo").style.display = "none";
                                return;
                            },
                        });
                    }
                    else {
                        if (data == "Nie możesz zalogować się na tej roli, ponieważ jesteś już zalogowany na innej.") {
                            document.getElementById("komunikat").style.display = "block";
                            document.getElementById("komunikat").innerHTML = data;
                            return;
                        }
                        kompletne_dane = data;
                        var uprawnienia = kompletne_dane.Uprawnienia;
                        var str = "";
                        str += kompletne_dane.Rola.Nazwa + "-";
                        for (i = 0; i < uprawnienia.length; i++) {
                            str += uprawnienia[i].Instrukcja;
                            str += ".";
                            str += uprawnienia[i].Nazwa_tabeli;
                            str += ";";
                        }
                        location.href = '@Url.Action("PoZalogowaniu", "PoZalogowaniu")';
                    }
                },
            });
        }

    </script>
</body>
</html>