<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksiegarnia bezpieczna</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ksiegarnia bezpieczna</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="Index.cshtml">Start</a></li>
            </ul>
        </div>
    </nav>
    <form class="form-horizontal" role="form">
        <div class="form-group" id="login">
            <label class="control-label col-sm-2">Login</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="text" placeholder="Login">
            </div>
        </div>
        <div class="form-group" id="haslo">
            <label class="control-label col-sm-2" for="pwd">Hasło:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" placeholder="Hasło">
            </div>
        </div>
        <div class="form-group" style="display:none" id="wybor_roli">
            <label class="control-label col-sm-2" for="wybor_roli">Wybierz rolę:</label>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" onclick="przetworzForm()">Zaloguj</button>
            </div>
        </div>
        <div id="test">aaa</div>
    </form>
    <script type="text/javascript">
        function przetworzForm() {
            var login = document.getElementById("text").value;
            var haslo = document.getElementById("pwd").value;
            var rola = null;
            var postData = { login, haslo, rola };

            $.ajax({
                type: "POST",
                url: '@Url.Action("Post","LogIn")',
                data: postData,
                success: function (data) {
                    console.log(data);
                    debugger;
                },
            });

            document.getElementById("haslo").style.display = "none";
            document.getElementById("wybor_roli").style.display = "block";
        }

    </script>
</body>
</html>