
@{
    ViewBag.Title = "del";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksiegarnia bezpieczna</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ksiegarnia bezpieczna</a>
            </div>
        </div>
    </nav>
    <h2>Usuwanie kategorii</h2>
    <button type="button" onclick="func()">Wyświetl listę kategorii</button>
    <div id="lista_kategorii"></div>
    <br />
    <p>Podaj ID kategorii, którą chcesz usunąć:</p>
    <input type="text" id="identyfikator" />
    <button type="button" onclick="usun()">Usuń</button>

    <script type="text/javascript">

        function func() {
            var kategorie = new Array();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Get", "Kategorie")',
                data: "a",
                success: function (data) {
                    for (i = 0; i < data.length; i++) {
                        kategorie[i] = data[i];
                    }
                    var lista = "<li>ID - Nazwa - Opis</li>";
                    for (i = 0; i < kategorie.length ; i++) {
                        lista += "<li>";
                        lista += kategorie[i].ID_Kategorii.toString() + " - " + kategorie[i].Nazwa + " - " + kategorie[i].Opis + "</li>";
                    }
                    document.getElementById("lista_kategorii").innerHTML = lista;
                    return;
                },
            });
        }

        function usun() {
            var id = document.getElementById("identyfikator").value;

            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "Kategorie")',
                data: { id },
                success: function (data) {
                    location.href = '@Url.Action("del", "Kategorie")';
                    return;
                },
            });
        }
    </script>
</body>
</html>
