
@{
    ViewBag.Title = "insert";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksiegarnia bezpieczna</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ksiegarnia bezpieczna</a>
            </div>
        </div>
    </nav>
    <h2>Dodawanie roli</h2>

    <br />

    <p>Wpisz nazwę dla nowej roli:</p><input type="text" id="nazwa" />


    <div align="center">
        <form id="myform">
            <div style="float:left; padding:10px;">
                <h4 style="color:#808080">Autorzy</h4>
                <label><input type="checkbox" id="2" value="">Dodaj</label><br />
                <label><input type="checkbox" id="4" value="">Usuń</label><br />
                <label><input type="checkbox" id="5" value="">Zaktualizuj</label><br />
                <label><input type="checkbox" id="3" value="">Przejrzyj</label><br />
            </div>
            <div style="float:left; padding:10px;">
                <h4 style="color:#808080">Książki</h4>
                <label><input type="checkbox" id="6" value="">Dodaj</label><br />
                <label><input type="checkbox" id="8" value="">Usuń</label><br />
                <label><input type="checkbox" id="9" value="">Zaktualizuj</label><br />
                <label><input type="checkbox" id="7" value="">Przejrzyj</label><br />
            </div>
            <div style="float:left; padding:10px;">
                <h4 style="color:#808080">Kategorie</h4>
                <label><input type="checkbox" id="14" value="">Dodaj</label><br />
                <label><input type="checkbox" id="16" value="">Usuń</label><br />
                <label><input type="checkbox" id="17" value="">Zaktualizuj</label><br />
                <label><input type="checkbox" id="15" value="">Przejrzyj</label><br />
            </div>
            <div style="float:left; padding:10px;">
                <h4 style="color:#808080">Dostawy</h4>
                <label><input type="checkbox" id="10" value="">Dodaj</label><br />
                <label><input type="checkbox" id="12" value="">Usuń</label><br />
                <label><input type="checkbox" id="13" value="">Zaktualizuj</label><br />
                <label><input type="checkbox" id="11" value="">Przejrzyj</label><br />
            </div>
            <div style="float:left; padding:10px;">
                <h4 style="color:#808080">Sprzedaże</h4>
                <label><input type="checkbox" id="22" value="">Dodaj</label><br />
                <label><input type="checkbox" id="24" value="">Usuń</label><br />
                <label><input type="checkbox" id="25" value="">Zaktualizuj</label><br />
                <label><input type="checkbox" id="23" value="">Przejrzyj</label><br />
            </div>
            <div style="float:left; padding:10px;">
                <h4 style="color:#808080">Użytkownicy</h4>
                <label><input type="checkbox" id="30" value="">Dodaj</label><br />
                <label><input type="checkbox" id="32" value="">Usuń</label><br />
                <label><input type="checkbox" id="33" value="">Zaktualizuj</label><br />
                <label><input type="checkbox" id="31" value="">Przejrzyj</label><br />
            </div>
            <div style="float:left; padding:10px;">
                <h4 style="color:#808080">Role</h4>
                <label><input type="checkbox" id="18" value="">Dodaj</label><br />
                <label><input type="checkbox" id="20" value="">Usuń</label><br />
                <label><input type="checkbox" id="21" value="">Zaktualizuj</label><br />
                <label><input type="checkbox" id="19" value="">Przejrzyj</label><br />
            </div>
            <div style="clear:both"></div>
            </form>
        <div id="komunikat"></div><div id="kolejna_rola"></div>
</div>

    <button type="button" onclick="dodaj()" id="przycisk_dodaj">Dodaj</button>

    <script type="text/javascript">

        function dodaj() {
            var nazwa = document.getElementById("nazwa").value;
            var uprawnienia = nazwa + ";";
            var wartosci = $("#myform").find("input[type='checkbox']:checked").get();

            var wartosci_id_uprawnien = new Array();
            for (i = 0; i < wartosci.length; i++) {
                uprawnienia += wartosci[i].id.toString() + "-";
            }
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("Post", "Role")',
                data: { uprawnienia },
                success: function (data) {
                    document.getElementById("komunikat").innerHTML = "Dodano rolę o nazwie: " + nazwa;
                    document.getElementById("kolejna_rola").innerHTML = '<button type="button">@Html.ActionLink("Dodaj kolejną rolę", "insert", "Role")</button>';
                    document.getElementById("przycisk_dodaj").style.display = "none";
                    return;
                },
            });
        }
    </script>
</body>
</html>



