
@{
    ViewBag.Title = "update";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksiegarnia bezpieczna</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ksiegarnia bezpieczna</a>
            </div>
        </div>
    </nav>
    <h2>Aktualizacja roli</h2>
    <button type="button" onclick="func()">Wyświetl listę ról</button>
    <div id="lista_rol"></div>
    <br />
    <p>Podaj ID roli którą chcesz zaktualizować:</p>
    <input type="text" id="identyfikator" />
    <button type="button" onclick="wybierz()">Wybierz</button>
    <div id="aktualizacja" style="display:none">
        Nazwa: <input type="text" id="nazwa" />

        <button type="button" onclick="zaktualizuj()">Zaktualizuj</button>
    </div>

        <script type="text/javascript">
            function wybierz() {
                document.getElementById("aktualizacja").style.display = "block";
            }
            function func() {
                var role = new Array();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Get", "Role")',
                    data: "a",
                    success: function (data) {
                        for (i = 0; i < data.length; i++) {
                            role[i] = data[i];
                        }
                        var lista = "<li>ID - Nazwa</li>";
                        for (i = 0; i < role.length ; i++) {
                            lista += "<li>";
                            lista += role[i].ID_Roli.toString() + " - " + role[i].Nazwa + "</li>";
                        }
                        document.getElementById("lista_rol").innerHTML = lista;
                        return;
                    },
                });
            }
            function zaktualizuj() {
                var nazwa = document.getElementById("nazwa").value;
                var id = document.getElementById("identyfikator").value;
                var postData = { nazwa,id };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Put", "Role")',
                    data: postData,
                    success: function (data) {
                        location.href = '@Url.Action("update", "Role")';
                        return;
                    },
                });
            }


        </script>
</body>
</html>
